= render "pages/misc/menu"

%h1= title "Ideas, old and new"

An idea is where everything starts. Like this project. But not every idea
makes it to reality, and some that do do not turn out as planned.

This is a collection of both, the overripe and unripe. Maybe we can learn from the
first, and by continuously reexamining the second see if it is worth the
effort to bring them down to earth.

%h2 Unrealized
