= render "pages/misc/menu"

%h1= title "Ideas, old and new"

An idea is where everything starts. Like this project. But not every idea
makes it to reality, and some that do do not turn out as planned.

This is a collection of both, the overripe and unripe. Maybe we can learn from the
first, and by continuously reexamining the second see if it is worth the
effort to bring them down to earth.

%h3 Threads
%p
  Since threads are not done, and won't be too soon, this is just a sort of
  general background info. What i think about the topic and will need to examine
  before starting that.

%h3 Optimisation
%p
  This came out of an older document, most of which got implemented by now. A bit
  about inlining and the such.

%h3 Soml

%p
  Is here for purely historical reasons. It was an important step in defining the
  calling convention and has some old benchmarks to that effect.

%h2 Plans
%p
  I was also thinking this section could serve as an intermediate discussion reference.
  Formulating ideas on the list and writing intermediate designs down here.
