%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %title {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}
  %meta{:content => "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}", :name => "description"}/
%body
  %p
    {% assign user_url = site.url | append: site.baseurl %}
    {% assign full_base_url = user_url | default: site.github.url %}
    %link{:full_base_url => "", :href => "{{ ", "prepend:" => "", :rel => "stylesheet"}/
    %link{:href => "/assets/css/site.css", :rel => "stylesheet"}/
    %link{:href => "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}", :rel => "canonical"}/
    %link{:href => "{{ ", "prepend:" => "", :rel => "alternate", "site.baseurl" => "", "site.url" => "", :title => "{{ site.title }}", :type => "application/rss+xml"}/
    %script{:async => "", :defer => "defer", :src => "https://buttons.github.io/buttons.js"}
    / Font Include
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,500,700", :rel => "stylesheet", :type => "text/css"}/
    {% seo %}
