%section#intro
  %h1 RubyX
  %p Compile ruby to binary
  %p in 100% Ruby
  %p No external dependencies
  %p Faster ( X times )
  %p Easy to understand
  %p Easy to modify own tool
%section#torsten
  %h2 Torsten
  %p github.com/rubydesign
  %p 30+ years coding
  %p Now coding as hobby
%section#finland
  %h2 from Finland
  %p
    %img{:alt => "Finland", "data-src" => image_url("slides/grillrb/finland.jpg")}/
%section#raisa
  %h2
    Raisa
    %small (my wife)
  %p
    %img{:alt => "Raisa", "data-src" => image_url("slides/grillrb/raisa.jpg") , height: 400}/
%section#villataika
  %h2
    Run a b&b
    %small villataika.fi
  %p
    %img{:alt => "Villa Taika", "data-src" => image_url("slides/grillrb/villataika.jpg") , height: 400}/
%section#intro2
  %h2 RubyX
  %p Compile ruby to binary in ruby
  %p.fragment why
  %p.fragment how
  %p.fragment future
%section#story
  %h2 Short Story
  %p About the 60’s
  %p uncle Bob
  %p going to Mars
  %p the Energy solution
%section#mars
  %h2 Mission to the Moon
  %p ‘61 goal declared by Kennedy
  %p.fragment ‘69 achieved by Appollo 9
  %p.fragment 4bit , 2k RAM , 1Mhz
  %p.fragment Mars 2020, maybe
%section#thorium
  %h2 Molten-Salt Reactor
  %p Early 60’s nuclear research (Thorium)
  %p.fragment sucessful run '64-'69 , 7MW
  %p.fragment Walk away safe , small , little waste
  %p.fragment Rediscovered  by Kirk Sorensen 2008
%section#bob
  %h2 Programming
  %p Uncle Bob “Future of programming”
  %p.fragment C ,Unix,Smalltalk ,Lisp ,invented 60’s
  %p.fragment Engineers doubling every 5 years
  %p.fragment Go 2009 , Rust 2010 , Julia 2012
%section#60s
  %h2 Theory of 60’s
  %p Programming, spaceflight, energy
  %p.fragment Major advancement in 60’s
  %p.fragment New advancements recently
%section#now
  %h2 Why now
  %p Simula invented OO concepts in 67
  %p.fragment Smalltalk (first pure OO) PARC 70’s
  %p.fragment Popular 80’s , "Blue Book" published
  %p.fragment Ruby, Python, JS, reincarnated 90’s
  %p.fragment YARV, mri’s stack machine, 00's
%section#speed
  %h2 The Speed problem
  %p
    %large
      %b 10x
    %span.fragment possibly 30x
    %span.fragment sometimes 100x
  %p.fragment laptop  becomes a pi
  %p.fragment 1k hardware costs 10k
%section#effects
  %h2 Effects of Speed
  %p 2 language problem (nice OR fast)
  %p.fragment Limited domains accessible
  %p.fragment Smaller community
  %p.fragment less tools
%section#problem
  %h2 Real problem
  %p Speed is symptom
  %p.fragment Interpretation is cause
  %p.fragment Compilation is the solution
%section#meta_problem
  %h2 Meta problem
  %p Implementation language
  %p.fragment You can’t fix
  %p.fragment Ruby is the solution

%section#whyme
  %h4 Why me?
  %h2 I
  %table
    %tbody
      %tr
        %td
          %img.no_b{alt: "love", "data-src" => image_url("slides/grillrb/heart.png"), height: 250}
        %td
        %td
        %td
          %img.no_b{alt: "ruby", "data-src" => image_url("slides/grillrb/ruby.png") , height: 250}
%section#also
  %h2 Also:
  %p I have time
  %p.fragment and basic skills
  %p.fragment and motivation

%section#motiv
  %h2 Motivation
  %p Further the art
  %p.fragment prove the oo case
  %p.fragment for the community
  %p.fragment with you

%section#demo
  %h2 Demo
  %p
    =link_to "www.ruby-x.org" , "http://www.ruby-x.org"
