%p It has been a bit of a journey, but now we have arrived: Salama is officially named.
%h3#salama Salama
%p
  Salama is a
  = succeed "." do
    %strong real word
%p
  It is a word of my
  %strong home-country
  Finland, a finnish word (double plus).
%p
  Salama means
  %strong lightning
  (or flash), and that is fast (double double plus) and bright.
%p
  As some may have noticed in most places my nick is
  = succeed "." do
    %strong dancinglightning
%p
  Also
  %strong my wife
  suggested it, so it always reminds me of her.
%h4#journey Journey
%p I started with crystal, which i liked. It speaks of clarity. It is related to ruby. All was good.
%p
  But I was not the first to have this thought: The name is taken, as i found out by
  chance. Ary Borenszweig started the
  %a{:href => "http://crystal-lang.org/"} project
  already two
  years ago and they not only have a working system, but even compile themselves.
%p
  Alas, Ary started out with the idea of ruby on rockets (ie fast), but when the
  dynamic aspects came (as they have for me a month ago), he went for speed, to be
  precise for a static system, not for ruby.
  So his crystal is now it’s own language with ruby-ish style, but not semantics.
%p
  That is why i had not found it. But when i did we talked, all was friendly, and we
  agreed i would look for a new name.
%p
  And so i did and many were taken. Kide (crystal in finish) was a step on the way,
  as was ruby in ruby. And many candidates were explored and discarded, like broom
  (basic ruby object oriented machine), or som (simple object machine), even ahimsa.
%h4#official Official
%p But then i found it, or rather we did, as it was a suggestion from my wife: Salama.
%p
  After i found the name i made sure to claim it: I published first versions of gems
  for salama and sub-modules. They don’t work off course, but at least the name is
  taken in rubygems too. Off course the github name is too.
%p So now i can get on with things at lightning speed :-)
