.row
  %ul.nav
    %li
      %a{:href => "motivation.html"} Motivation
    %li
      %a{:href => "ideas.html"} Ideas
    %li
      %a{:href => "history.html"} History
    %li
      %a{:href => "contribute.html"} Contribute
