.row
  %ul.nav
    %li
      %a{:href => "/project/motivation.html"} Motivation
    %li
      %a{:href => "/project/ideas.html"} Ideas
    %li
      %a{:href => "/project/history.html"} History
    %li
      %a{:href => "/project/contribute.html"} Contribute
