---
layout: site
---




<div class="row vspace10">
	<div class="span10">
		<h2 class="center">{{page.title}}</h2>
		<div>
    <p class="center"><span> {{page.sub-title}} </span></p>
		</div>
	</div>
	<div class="span2">
		<div>
  		<ul class="nav nav-list">
				<li><a href="/arm/target.html"> Overview </a> </li>
	      <li><a href="/arm/big_spec.pdf"> Huge spec </a> </li>
				<li><a href="/arm/qemu.html"> Virtual Pi </a> </li>
				<li><a href="/arm/remote_pi.html"> Remote pi </a> </li>
  		</ul>
		</div>
	</div>
</div>

{{content}}
