---
layout: site
---

<div class="row vspace10">
	<div class="span10">
		<h2 class="center">{{page.title}}</h2>
		<div>
      {{content}}
		</div>
	</div>
	<div class="span2">
		<h2 class="center">More Detail</h2>
		<div>
  		<ul class="nav nav-list">
        <li><a href="/sapphire/layers.html"> Layers of Sapphire </a> </li>
        <li><a href="/sapphire/memory.html"> Memory </a> </li>
        <li><a href="/sapphire/optimisations.html"> Optimisation ideas </a> </li>
  		</ul>
		</div>
	</div>
</div>
