---
layout: site
---

<div class="row vspace10">
	<div class="span10">
		<h2 class="center">{{page.title}}</h2>
		<div>
    <p class="center"><span> {{page.sub-title}} </span></p>
		</div>
	</div>
	<div class="span2">
		<div>
  		<ul class="nav nav-list">
        <li><a href="/index.html">  Ideas whence it started </a> </li>
        <li><a href="/ideas.html"> Effective programming </a> </li>
				<li>
					Last news: &nbsp;&nbsp;&nbsp;
					<small><small>{{ site.posts.first.date | date: "%d.%m.%y"  }} </small></small>
				</li>
				<li>
					<a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}
					</a>
				</li>
  		</ul>
		</div>
	</div>
</div>

{{content}}
