---
layout: site
---

<div class="row vspace10">
	<div class="span10">
		<h2 class="center">{{page.title}}</h2>
		<div>
  	  <h5 class="center">Written by {{page.author}} on {{page.date | date_to_string}}.</h5>
      {{content}}
		</div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'salama-vm';

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
	<div class="span2">
		<h2 class="center">Older</h2>
		<div>
  		<ul class="nav nav-list">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }} <small><small>{{ post.date | date: "%d.%m.%y"  }} </small></small></a>
</li>
      {% endfor %}
  		</ul>
		</div>
	</div>
</div>
