---
layout: site
---

<div class="row vspace10">
	<div class="span10">
		<h2 class="center">{{page.title}}</h2>
		<div>
    <p class="center"><span> {{page.sub-title}} </span></p>
		</div>
	</div>
	<div class="span2">
		<div>
  		<ul class="nav nav-list">
				<li><a href="/project/motivation.html"> Motivation </a> </li>
	      <li><a href="/project/ideas.html"> Ideas </a> </li>
				<li><a href="/project/history.html"> History </a> </li>
				<li><a href="/project/contribute.html"> Contribute </a> </li>
  		</ul>
		</div>
	</div>
</div>

{{content}}
