\---
layout: site
\---
.row
  %div
    %h1.center
      {{page.title}}
    %p.center
      %span {{page.sub-title}}
    %ul.nav
      %li
        %a{:href => "/rubyx/layers.html"} Layers of RubyX
      %li
        %a{:href => "/rubyx/memory.html"} Memory
      %li
        %a{:href => "/rubyx/threads.html"} Threads
      %li
        %a{:href => "/rubyx/optimisations.html"} Optimisation ideas
  %div
    {{content}}
