---
layout: site
---

<div class="row">
	<div>
		<h1 class="center">{{page.title}}</h2>
		<p class="center"><span> {{page.sub-title}} </span></p>
		<ul class="nav">
			<li><a href="/typed/typed.html">Typed</a> </li>
			<li><a href="/typed/parfait.html">Parfait</a> </li>
			<li><a href="/typed/benchmarks.html">Performance</a> </li>
			<li><a href="/typed/debugger.html">Debugger</a> </li>
			<li><a href="/typed/syntax.html">Syntax (obsolete)</a> </li>
		</ul>
	</div>
	<div>
    {{content}}
	</div>
</div>
