\---
layout: site
\---
.row
  %div
    %h1.center
      {{page.title}}
    %p.center
      %span {{page.sub-title}}
    %ul.nav
      %li
        %a{:href => "/typed/typed.html"} Typed
      %li
        %a{:href => "/typed/parfait.html"} Parfait
      %li
        %a{:href => "/typed/benchmarks.html"} Performance
      %li
        %a{:href => "/typed/debugger.html"} Debugger
      %li
        %a{:href => "/typed/syntax.html"} Syntax (obsolete)
  %div
    {{content}}
