.row
  %ul.nav
    %li
      %a{:href => "/typed/typed.html"} Typed
    %li
      %a{:href => "/typed/benchmarks.html"} Performance
    %li
      %a{:href => "/typed/debugger.html"} Debugger
    %li
      %a{:href => "/typed/syntax.html"} Syntax (obsolete)
